@import "tailwindcss";

html,
body {
  overflow-y: auto;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; 
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}